<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/plantilla :: head('Carrito de Compras')}"></head>

<body>
    <!-- Navbar -->
    <nav th:replace="~{layout/plantilla :: navbar('', '', '', '', '')}"></nav>

    <!-- Contenido principal del carrito de compras -->
    <div class="container cart-container">
        <h2 class="text-center mb-4 section-title titulo-pagina">Carrito de Compras</h2>

        <!-- Items del carrito -->
        <div class="row">
            <div class="col-md-8" id="cartItemsContainer">
                <!-- Mostrar si el carrito está vacío -->
                <div th:if="${#lists.isEmpty(carritos)}">
                    <p class="text-center">Tu carrito está vacío.</p>
                </div>

                <!-- Iterar sobre los items del carrito -->
                <div th:each="carrito : ${carritos}" class="cart-item mb-4" data-id="${carrito.producto.id}">
                    <div class="row align-items-center">
                        <!-- Imagen del producto -->
                        <div class="col-3 col-md-2">
                            <img th:src="@{/images/productos/} + ${carrito.producto.imagen}" alt="Producto"
                                class="img-fluid">
                        </div>

                        <!-- Nombre y descripción -->
                        <div class="col-9 col-md-4">
                            <p class="item-name mb-1" th:text="${carrito.producto.nombre}">Nombre del Producto</p>
                            <p class="text-muted mb-0 justify" th:text="${carrito.producto.descripcion}">Descripción
                                breve</p>
                        </div>

                        <!-- Input de cantidad -->
                        <form th:action="@{/carrito/actualizarCantidad}" method="post"
                            class="col-6 col-md-2 d-flex align-items-center justify-content-center quantity-container">
                            <input type="hidden" name="carritoId" th:value="${carrito.id}" />
                            <button class="quantity-btn quantity-btn-minus" type="submit" name="action"
                                value="restarCantidad">-</button>
                            <input type="number" name="cantidad" class="quantity-input mx-2"
                                th:value="${carrito.cantidad}" min="1" >
                            <button class="quantity-btn quantity-btn-plus" type="submit" name="action"
                                value="sumarCantidad">+</button>
                        </form>

                        <!-- Precio -->
                        <div class="col-6 col-md-2 text-center">
                            <p class="item-price" th:text="'$ ' + ${carrito.producto.precio * carrito.cantidad}">
                                $99.99</p>

                        </div>

                        <!-- Botón de eliminar -->
                        <div class="col-12 col-md-1 text-end text-md-center mt-2 mt-md-0">
                            <form th:action="@{/carrito/eliminar}" method="post">
                                <input type="hidden" name="carritoId" th:value="${carrito.id}" />
                                <button class="btn-delete-product" type="submit">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Resumen del carrito -->
            <div class="col-md-4">
                <div class="card p-3">
                    <h5>Resumen de la Compra</h5>
                    <p>Total: <span id="cartTotal" th:text="${totalCarrito}"></span></p>

                    <form th:action="@{/carrito/checkout}" method="get">
                        <input class="btn btn-primary btn-block" th:if="${not #lists.isEmpty(carritos)}" type="submit"
                            value="Ir a Pagar" />
                    </form>

                    <p th:if="${#lists.isEmpty(carritos)}">No hay productos para pagar.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
    <div th:replace="~{layout/plantilla :: alertas}"></div>

    <script src="/js/carrito.js"></script>
</body>

</html>