<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/plantilla :: head('WellPoints')}"></head>

<body>
    <!-- Navbar -->

    <nav th:replace="~{layout/plantilla :: navbar('', '', '', '', '')}"></nav>

    <!-- Contenedor principal -->
    <div class="container-fluid d-flex flex-column flex-md-row">
        <!-- Sidebar -->
        <nav th:replace="~{layout/plantilla :: sidebar-usuario('', '', '', '', '','','active')}"></nav>

        <!-- Contenido principal -->
        <div id="content" class="flex-grow-1 p-3">
            <!-- Botón para mostrar el sidebar en móvil -->
            <button id="sidebarToggle" class="d-md-none btn btn-primary">
                <i class="bi bi-arrow-bar-right"></i>
            </button>
            <h1 class="mb-4 titulo-pagina">WellPoints</h1>

            <!-- Card Principal con Información del Usuario -->
            <div class="card card-perfil mb-4">
                <div class="card-body">
                    <div class="row">
                        <table id="example" class="bg-white rounded shadow-sm">
                            <thead>
                                <tr>
                                    <th class="align-left">Descripción</th>
                                    <th class="align-center">Cantidad</th>
                                    <th class="align-center">Fecha</th>
                                    <th class="align-center">Acción</th>
                                    <th class="align-center">Total</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="wellpoints : ${listaWellPoints}">
                                    <td class="no-bold align-left" th:text="${wellpoints.descripcion}"></td>
                                    <td class="no-bold align-left"
                                        th:text="${#numbers.formatDecimal(wellpoints.cantidad, 0 , 'COMMA', 0, 'POINT')}">
                                    </td>
                                    <td class="no-bold align-left"
                                        th:text="${#temporals.format(wellpoints.fecha, 'MMMM dd, yyyy')}">fecha</td>

                                    <td th:if="${wellpoints.accion.nombre == 'Adicionar'}" class="no-bold align-left">
                                        <span class="badge rounded-pill bg-success"
                                            th:text="${wellpoints.accion.nombre}">
                                    </td>
                                    <td th:if="${wellpoints.accion.nombre == 'Retirar'}" class="no-bold align-left">
                                        <span class="badge rounded-pill bg-danger"
                                            th:text="${wellpoints.accion.nombre}">
                                    </td>
                                    <td class="no-bold align-left"
                                        th:text="${#numbers.formatDecimal(wellpoints.total, 0 , 'COMMA', 0, 'POINT')}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
    <div th:replace="~{layout/plantilla :: alertas}"></div>
    <script src="/js/datatable.js"></script>
</body>



</html>