<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- Head -->
<head th:replace="~{layout/plantilla-admin :: head-admin('Órdenes - ' + ${rolPrincipal})}"></head>

<body>
    <!-- Navbar -->
    <head th:replace="~{layout/plantilla-admin :: navbar-admin}"></head>

    <!-- Sidebar -->
    <div th:replace="~{layout/plantilla-admin :: sidebar-admin('','','','','','','active','','','')}"></div>

    <!-- Contenido principal -->
    <div class="main-content">
        <div class="content container-fluid">
            <!-- Título -->
            <h2 class="section-title">Detalle Orden</h2>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <tr>
                                    <th>Fecha de Creación</th>
                                    <td th:text="${#temporals.format(orden.fechaCreacion, 'dd/MM/yyyy - HH:mm:ss')}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Fecha de Actualización</th>
                                    <td th:text="${#temporals.format(orden.fechaActualizacion, 'dd/MM/yyyy - HH:mm:ss')}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <td th:text="${orden.nombre}"></td>
                                </tr>
                                <tr>
                                    <th>Dirección</th>
                                    <td th:text="${orden.direccion}"></td>
                                </tr>
                                <tr>
                                    <th>Barrio</th>
                                    <td th:text="${orden.barrio}"></td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td th:text="'$ ' + ${#numbers.formatDecimal(orden.total, 0 , 'COMMA', 0, 'POINT')}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Estado de la Orden</th>
                                    <td>
                                        <span th:switch="${orden.estadoOrden.nombre}">
                                            <span th:case="'Pendiente'" class="badge estado-pendiente">Pendiente</span>
                                            <span th:case="'En Proceso'" class="badge estado-en-proceso">En proceso</span>
                                            <span th:case="'Enviada'" class="badge estado-enviado">Enviada</span>
                                            <span th:case="'Entregada'" class="badge estado-entregado">Entregada</span>
                                            <span th:case="'Cancelada'" class="badge estado-cancelado">Cancelada</span>
                                            <span th:case="'Devuelta'" class="badge estado-devuelto">Devuelta</span>
                                            <span th:case="'Reembolsada'" class="badge estado-reembolsado">Reembolsada</span>
                                            <span th:case="'Pago Pendiente'" class="badge estado-pago-pendiente">Pago Pendiente</span>
                                            <span th:case="'Pago Rechazado'" class="badge estado-pago-rechazado">Pago Rechazado</span>
                                            <span th:case="'En Hold'" class="badge estado-en-hold">En Hold</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Estado del Pago</th>
                                    <td th:if="${pago == null}">
                                        <span class="badge rounded-pill bg-dark">Sin Pago</span>
                                    </td>
                                    <td th:if="${pago != null}">
                                        <span th:switch="${pago.estadoPago.nombre}">
                                            <span th:case="'Pendiente'" class="badge rounded-pill estado-pendiente">Pendiente</span>
                                            <span th:case="'Aprobado'" class="badge rounded-pill bg-success">Aprobado</span>
                                            <span th:case="'Rechazado'" class="badge rounded-pill bg-danger">Rechazado</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr th:if="${orden.comentario != null}">
                                    <th>Comentario</th>
                                    <td th:text="${orden.comentario}"></td>
                                </tr>
                            </table>

                            <h3>Productos de la Orden</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Subtotal</th>
                                        <th>Marca / Ref</th>
                                    </tr>
                                    <tr th:each="item : ${itemsOrden}">
                                        <td>
                                            <a class="enlace-no-subr"
                                               th:href="@{/admin/productos/detalle/{id}(id=${item.producto.id})}"
                                               th:text="${item.producto.nombre}">
                                            </a>
                                        </td>
                                        <td th:text="${item.cantidad}"></td>
                                        <td th:text="'$ ' + ${#numbers.formatDecimal(item.producto.precio, 0 , 'COMMA', 0, 'POINT')}">
                                        </td>
                                        <td th:text="'$ ' + ${#numbers.formatDecimal(item.cantidad * item.producto.precio, 0 , 'COMMA', 0, 'POINT')}">
                                        </td>
                                        <td th:text="${item.comentario}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{layout/plantilla :: alertas}"></div>
    <script src="/js/datatable.js"></script>
    <!-- Footer -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>

    <script th:inline="javascript">
        document.querySelector('.sidebar-toggle').addEventListener('click', function () {
            document.querySelector('.sidebar').classList.toggle('active');
        });
    </script>
</body>
</html>
