<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- Head -->

<head th:replace="~{layout/plantilla-admin :: head-admin('Pago Mensual - ' + ${rolPrincipal})}"></head>

<body>

    <!-- Navbar -->

    <head th:replace="~{layout/plantilla-admin :: navbar-admin}"></head>

    <!-- Sidebar -->
    <div th:replace="~{layout/plantilla-admin :: sidebar-admin('','active','','','','','','','','')}"></div>

    <!-- Contenido principal -->
    <div class="main-content">
        <div class="content container-fluid">
            <!-- Título -->
            <h2 class="section-title">Pago Mensual</h2>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="example" class="custom-table bg-white rounded shadow-sm">
                                <thead class="custom-table-header text-center">
                                    <tr>
                                        <th>Username</th>
                                        <th>Hijos</th>
                                        <th>Mes</th>
                                        <th>Comprobante</th>
                                        <th>Ganancia</th>
                                        <th>Descuento</th>
                                        <th>Total</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="pagoMensual : ${listaPagosMensual}">
                                        <td>
                                            <a th:text="${pagoMensual.usuario.username}"
                                                th:href="@{/admin/usuarios/detalle/{id}(id=${pagoMensual.usuario.id})}"
                                                class="enlace-no-subr">
                                            </a>
                                        </td>
                                        <td th:text="${pagoMensual.cantidadHijos}">Cantidad Hijos</td>
                                        <td th:text="${pagoMensual.mes}">Mes</td>
                                        <td th:text="${pagoMensual.comprobante}"></td>
                                        <td th:text="${pagoMensual.ganancia}">Ganancia</td>
                                        <td th:text="${pagoMensual.descuento}">Descuento</td>
                                        <td th:text="${pagoMensual.total}">Total</td>

                                        <td th:switch="${pagoMensual.estadoPagoMensual.nombre}">
                                            <span th:case="'Pendiente'"
                                                class="badge rounded-pill bg-warning">Pendiente</span>
                                            <span th:case="'Pago'" class="badge rounded-pill bg-success">Pago</span>
                                        </td>


                                        <td class="text-center">
                                            <div class="d-flex justify-content-center">
                                                <!-- Modal trigger (botón Editar) -->

                                                <a href="#" data-bs-toggle="modal"
                                                    th:attr="data-bs-target='#editar-modal-' + ${pagoMensual.id}">
                                                    <i class="custom-icon bi bi-pencil-square text-success "></i>
                                                </a>
                                                <!-- Botón estado pendiente -->

                                                <form th:action="@{/admin/pago-mensual/estado-pendiente}" method="post"
                                                    class="me-2">
                                                    <input type="hidden" name="pagoMensualId"
                                                        th:value="${pagoMensual.id}" />
                                                    <button type="submit" class="btn btn-link p-0"
                                                        title="Marcar como Pendiente">
                                                        <i class="custom-icon bi bi-file-earmark-excel text-danger"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal dinámico para edición de PagoMensual -->
    <div th:each="pagoMensual : ${listaPagosMensual}">
        <div class="modal fade" th:attr="id='editar-modal-' + ${pagoMensual.id}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Pago Mensual</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/admin/pago-mensual/actualizar}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="pagoMensualId" th:value="${pagoMensual.id}" />

                            <!-- Campo para subir la nueva imagen de comprobante -->
                            <div class="mb-3">
                                <label for="comprobante" class="form-label">Subir comprobante</label>
                                <input class="form-control" type="file" id="comprobante" name="comprobanteImagen"
                                    required>
                            </div>

                            <!-- Campo para cambiar el estado del pago -->
                            <div class="mb-3">
                                <label for="estado" class="form-label">Estado de Pago</label>
                                <select class="form-select" id="estado" name="estadoPagoMensual" required>
                                    <option th:each="estado : ${estados}" th:value="${estado.id}"
                                        th:text="${estado.nombre}"
                                        th:selected="${estado.id == pagoMensual.estadoPagoMensual.id}">
                                    </option>
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal dinámico -->

    <div th:replace="~{layout/plantilla :: alertas}"></div>
    <script src="/js/datatable.js"></script>
    <!-- Footer -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>

    <script th:inline="javascript">
        document.querySelector('.sidebar-toggle').addEventListener('click', function () {
            document.querySelector('.sidebar').classList.toggle('active');
        });

    </script>
</body>

</html>