<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- Head -->

<head th:replace="~{layout/plantilla-admin :: head-admin('WellPoints - ' + ${rolPrincipal})}"></head>

<body>

    <!-- Navbar -->

    <head th:replace="~{layout/plantilla-admin :: navbar-admin}"></head>

    <!-- Sidebar -->
    <div th:replace="~{layout/plantilla-admin :: sidebar-admin('','','','','','','','','','active')}"></div>

    <!-- Contenido principal -->
    <div class="main-content">
        <div class="content container-fluid">
            <!-- Título -->
            <h2 class="section-title">WellPoints</h2>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="example" class="custom-table bg-white rounded shadow-sm">
                                <thead class="custom-table-header text-center">
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Fecha</th>
                                        <th>Cantidad</th>
                                        <th>Descripción</th>
                                        <th>Accion</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="wellpoint : ${listaWellPoints}">
                                        <td><a th:href="@{/admin/usuarios/detalle/{id}(id=${wellpoint.usuario.id})}"
                                                th:text="${wellpoint.usuario.username}"></a></td>


                                        <td th:text="${#temporals.format(wellpoint.fecha, 'dd/MM/yyyy')}">
                                        </td>

                                        <td th:text="${wellpoint.cantidad}"></td>
                                        <td th:text="${wellpoint.descripcion}"></td>
                                        <td th:text="${wellpoint.accion.nombre}">
                                        <td th:text="${wellpoint.total}"> </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{layout/plantilla :: alertas}"></div>
    <script src="/js/datatable.js"></script>
    <!-- Footer -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>

    <script th:inline="javascript">
        document.querySelector('.sidebar-toggle').addEventListener('click', function () {
            document.querySelector('.sidebar').classList.toggle('active');
        });

    </script>
</body>

</html>