<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/plantilla :: head(Inicio)}"></head>

<body class="d-flex flex-column min-vh-100">

    <nav th:replace="~{layout/plantilla :: navbar('active', '', '', '', '')}"></nav>

    <div class="container mt-5 mb-5 flex-fill">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mb-4">Bienvenido a WellBing</h1>
                <p>Encuentra los mejores productos a los mejores precios.</p>
                <a href="#" class="btn btn-primary">Comprar
                    Ahora</a>
            </div>
        </div>
    </div>


    <footer th:replace="~{layout/plantilla :: footer}"></footer>
    <div th:replace="~{layout/plantilla :: alertas}"></div>

</body>

</html>