<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">



<body class="d-flex flex-column h-100">

    <section>
        <div class="container col-xxl-8 px-4 py-5 alto">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="images/img-nobg.png" class="d-block mx-lg-auto img-fluid" alt="img" width="700"
                        height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Acá va la información principal de la
                        página</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus corrupti ea
                        similique officia porro recusandae deleniti omnis neque. Quos beatae tenetur alias a molestiae
                        ut ex pariatur odio dolorem magni?</p>
                </div>
            </div>
        </div>

        


    </section>

    


</body>

</html>