<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/plantilla :: head('Detalles del Producto')}"></head>

<body>
    <nav th:replace="~{layout/plantilla :: navbar('', active, '', '', '')}"></nav>
    <div class="container mt-5 mb-5">
        <div class="row p-5">
            <div class="col-md-6">
                <div class="product-image">
                    <img th:src="@{/images/productos/} + ${producto.imagen}" class="img-fluid" alt="Nombre del Producto"
                        style="max-height: 500px; object-fit: cover;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-details">
                    <h2 class="product-title mt-5" th:text="${producto.nombre}">Nombre del Producto</h2>
                    <p class="product-category mt-5">Categoría: <span th:text="${producto.categoria.nombre}">Categoría
                            del Producto</span></p>
                    <p class="product-price ">Valor: $ [[${producto.precio}]]</p>
                    <p class="product-price ">Bono: [[${producto.bono}]]</p>
                    <p class="product-description" th:text="${producto.descripcion}">Descripción detallada del producto.
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Nullam non urna vitae ligula sodales fermentum.</p>
                    <div class="row product-actions mt-4">

                        </form>
                        <div class="col-6">
                            <form th:action="@{/carrito/agregar}" method="post">
                                <input type="hidden" name="productoId" th:value="${producto.id}" />
                                <input type="hidden" name="cantidad" value="1" min="1" class="form-control mb-2" />
                                <button type="submit" class="btn btn-primary me-2">Agregar al Carrito</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
    <div th:replace="~{layout/plantilla :: alertas}"></div>

</body>

</html>