<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/plantilla :: head('Recuperar Contraseña')}"></head>

<body>
    <nav th:replace="~{layout/plantilla :: navbar('', '', '', '', active)}"></nav>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card p-4 shadow-sm">
                    <h2 class="text-center section-title">Recuperar Contraseña</h2>
                    <div class="text-center mb-4">
                        <img src="/images/logo_nobg.png" class="img-fluid" alt="Recuperar Contraseña">
                    </div>
                    <form th:action="@{/recuperar-pass}" th:object="${email}" method="POST"
                        id="recuperarContraseñaForm">
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="correo" th:field="*{destinatario}"
                                placeholder="nombre@ejemplo.com" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>

    <div th:if="${enviarKO}">
        <script>
            Swal.fire({
                title: "Error!",
                text: 'No se encontró ningún usuario con ese correo electrónico.',
                icon: "error"
            });
        </script>
    </div>

    <div th:if="${enviarOK}">
        <script>
            Swal.fire({
                title: "Enviado!",
                text: 'Se ha enviado la nueva contraseña a tu correo electrónico.',
                icon: "success"
            });
        </script>
    </div>

</body>

</html>