<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="es"
>
  <head th:replace="~{layout/plantilla :: head('Registrarse')}"></head>

  <body>
    <nav
      th:replace="~{layout/plantilla :: navbar('', '', '', active, '')}"
    ></nav>
    <div class="container mt-5 mb-5">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mt-5">
          <!-- Agregar mt-5 aquí -->
          <div class="card p-4 shadow-sm">
            <h2 class="text-center section-title">Registrarse</h2>
            <!-- Formulario de registro -->
            <form th:action="@{/signup}" th:object="${usuario}" method="post">
              <div class="mb-3">
                <label for="nombres" class="form-label">Nombres</label>
                <input
                  type="text"
                  th:field="*{nombre}"
                  class="form-control"
                  id="nombres"
                  placeholder="Nombres"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input
                  type="text"
                  th:field="*{apellido}"
                  class="form-control"
                  id="apellidos"
                  placeholder="Apellidos"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="correo" class="form-label"
                  >Correo Electrónico</label
                >
                <input
                  type="email"
                  th:field="*{email}"
                  class="form-control"
                  id="correo"
                  placeholder="nombre@ejemplo.com"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="celular" class="form-label">Celular</label>
                <input
                  type="text"
                  th:field="*{celular}"
                  class="form-control"
                  id="celular"
                  placeholder="Número de Celular"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input
                  type="text"
                  th:field="*{direccion}"
                  class="form-control"
                  id="direccion"
                  placeholder="Dirección"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="username" class="form-label"
                  >Nombre de Usuario</label
                >
                <input
                  type="text"
                  th:field="*{username}"
                  class="form-control"
                  id="username"
                  placeholder="Nombre de Usuario"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input
                  type="password"
                  th:field="*{password}"
                  class="form-control"
                  id="password"
                  placeholder="Contraseña"
                  required
                />
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="terminos"
                  required
                />
                <label class="form-check-label" for="terminos"
                  >Acepta los términos y condiciones</label
                >
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                  Registrarse
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
    <div th:replace="~{layout/plantilla :: alertas}"></div>

    <script src="/js/register.js"></script>
  </body>
</html>
